* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@font-face {
    font-family: myfont;
    src: url(fonts/manu.ttf);
    
}



a {
    text-decoration: none;
    color: rgb(252, 250, 250);
    
}

ul {
    list-style: none;
    color: rgb(16, 19, 19);
    
}


.navbar {
    display: flex;
    justify-content: space-between;
    margin:  0px 30px;
    
}


#title{
    margin-left: 20px;
    margin-top: 30px;
    text-shadow:  1px 1px 1px #f90c0c ,1px 1px 1px red ;
}


.button {
    margin-top: 30px;
    background-color:#191A19;
    padding: 0px 1px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer; 
    border: 2px solid rgb(81, 83, 81);
    border-radius: 20%;
     
}


.links {
    display: flex;
    margin-top: 30px;
    margin-right: 30px;  
}

.links li {
    padding: 0px 10px;

}

.links li :hover {
    text-decoration: underline #d40a0a;

}




/* main container start */

.container {
    height: 100vh;
    width: 100%;
    background-color: #191A19;
    color: aliceblue;
    overflow: hidden;
}

.main {
    display: flex ;
    justify-content: space-around;
    
}

.main-hero-content {
    display: flex;
    flex-direction: column;
    line-height: 35px;
    font-size: large;
    
}

.big {
    font-size:60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: aliceblue;
 
}

.social-media-links{
    position: relative;
    top: 230px;
    right: 10px;
}


.social-media-links i{
    font-size: 30px;
    padding-left: 10px;
}

.social-media-links i:hover{
    color: #16e540;
}




.big {
    animation-name: colorChange;
    animation-duration: 7s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;  
    animation-direction: alternate;
    
}

@keyframes colorChange {
    0% {
       color: #bf75de;

    }

    25% {
        
        color: rgb(65, 65, 238);

    }
    
    50% {
        
        color: rgb(250, 90, 90);

    }

    100%{
        
        color: rgb(126, 238, 52);

    }
    
}




.img1 {
    position: relative;
    top: 50px;
    box-shadow: 1px 1px 9px rgb(16, 14, 14) , -1px -1px 8px rgb(10, 12, 10);
    transition: all 0.3s linear ; 
    opacity: 1; 

}

.img1:hover {
    transform: scale(1.09);

}
.hero-content {
    position: relative;
    top: 170px;

}

.hero-content p {
    font-size: larger;
}

.btn1 {
    position: relative;
    left: 30px;
    top: 10px;
    text-align: center;
    text-decoration: none;
    display: inline;
}



input[type=button] {
    background-color: #eb0808;
    border: none;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    margin: 4px 80px;
    cursor: pointer;
  }


  input[type=button]:hover {
    background-color: #010a18;
    border: none;
    color: rgb(241, 240, 240);
    padding: 8px 16px;
    text-decoration: none;
    margin: 4px 80px;
    cursor: pointer;
  }



  /* about-box container */

.about-container{
    height: 100vh;
    width: 100%;
    color: #faf6f4;
    background-color: #0a0b0b;
    display: flex;
    overflow: hidden;

  }

.about-box {
    display: flex;
}



.img2 {
    margin: 30px;
    opacity: 65%;
}

.about-content {
    height: 700px;
    width: 500px;
    margin-top: 90px;
    margin-left: 90px;
}

.about-content h2 {
    font-size: 45px;
    color: #ef3b3b;
    text-shadow: 2px 2px 1px rgb(9, 7, 4);
    margin-left: 150px;
    font-family:myfont;
}

.about-content p {
    margin-top: 20px;
    font-size: large;
    color: antiquewhite;

}

/* skill section  */


.skills-container {
    height: 100vh;
    width: 100%;
    background-color: #191A19;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;


}

.skill {
    width: 500px;
    height: 400px;
    border: 1px solid rgb(12, 10, 10);
    border-radius: 25px;
    box-shadow: 2px 2px 4px rgb(78, 4, 225) ,-2px -2px 4px rgb(245, 63, 8) ;
    display: flex;
    flex-direction: column;
}

.skill h2 {
    margin-left: 210px;
    margin-top: 20px;
    font-family: myfont;
    letter-spacing: 3px;
    color: rgb(237, 204, 204);
}


.skill label {
    margin-left: 40px;
    margin-top: 30px;

}

.skill progress {
    margin-left:40px ;
    width: 410px;
    transition: all 1s linear ;   

}

.skill progress:hover {
    transform: scale(1.15)
}



label {
    padding-right: 10px;
    font-size: 1rem;
}
  

/* certificate-container start */

.certificate-container {
    height: 100vh;
    width: 100%;
    background-color: #0a0b0b;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    overflow: hidden;

}

.wrapper {
    display: flex;
    width: 70%;
    justify-content: center;
    margin-top: 110px;

}


.sub-certificate-container .certificate {
    position: absolute;
    top: 60px;
    left: 440px;
    color:#04010d;
    text-shadow: 2px 2px 6px rgb(243, 7, 7);
    letter-spacing: 6px;
    font-family:myfont ;
    font-size: 40px;
    overflow: hidden;


}



.card {
    width: 490px;
    height: 230px;
    position: relative;
    display: flex;
    justify-content: end;
    align-items: center;
    left: 230px;
    box-shadow: 3px 3px 8px rgb(234, 4, 4),  -3px -3px 8px rgb(44, 3, 250);  
    transition: 0.5s ease-in-out; 
    margin-left: 20px;
}



.card:hover {
    transform: translateY(-20px);
}


.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;

}

.card .info {
    position: relative;
    z-index: 3;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all;
    color: #f7f6f6;

}


.card:hover .info {
    opacity: 0.8;
    transform: translateY(0px);
    bottom: 30px;
    background-color: rgb(65, 63, 68);
    
}


.card .info  p {
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 15px;
}


.card .info  .bttn {
    text-decoration: none;
    padding: 0.5rem 1rem;
    background-color: white;
    color: #0a0b0b;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    border: 1px solid black;
    position: absolute;
    left: 0px;

}


.card .info  .bttn :hover {
    box-shadow: 0 7px 10px rgb(0, 0, 0,0.5);  

}


/* project section start */


.project-container {
    height: 1100px;
    width: 100%;
    background-color: #191A19;
    color: #faf6f4;
    overflow: hidden;
}

.project-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-left: 100px;
    margin-top: 40px;
   
}


.project-heading {
    display: flex;
    justify-content: center;
    position: relative;
    top: 25px;
    font-family: myfont;
    font-size: 40px;
    color: #ea0c0c85;
    text-shadow: 2px 2px  8px rgb(10, 6, 3);
    letter-spacing: 2px;

}



.project {
    border: 1px solid rgb(236, 11, 11);
    height: 360px;
    width: 23%;
    margin-left: 70px;
    margin-top: 60px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;  
    border-radius: 10px;
    box-shadow: 10px 10px  rgb(54, 2, 103);
    transform: translateY(0px);
    transition: all 0.3s linear ;
    background-color: #04010d;

}


.project:hover{
    transform: scale(1.09);
}



.project  .h3{
    color: #83f79a;
    position: relative;
    left: 10px;
    bottom: 20px;
}

.project  img{
    position: relative;
    left: 15px;
}

.project  p{
    padding: 30px 20px ;
    position: relative;
    left: 7px;
}


.contact-container {
    height: 100vh;
    width: 100%;
    background-color: #04010d;
    overflow: hidden;

}



.form {
    position: relative;
    top: 70px;
    left: 340px;
    width: 600px;
    height: 450px;
    border: 1px solid rgb(113, 88, 88);
    border-radius: 10px;
    flex-wrap: wrap;
    background-image: url("assets/images/bg4.jpg");
    background-size: cover;
    box-shadow: 2px 2px 12px red,-2px -2px 12px red;


}




.form h2{
    color: #e32605;
    align-items: center;
    text-shadow: 2px 2px 2px black;
    margin: 40px ;
    position: relative;
    left: 120px;
    font-family: myfont;
    font-size: 60px;
    letter-spacing: 2px;
}


.label{
    color: #f3ecec;
    position: relative;
    left: 90px;
    font-size: 20px;
   
}



.input{
    border-radius: 8px;
    width: 300px;
    box-shadow: 1px 1px 1px rgb(223, 15, 15), -1px -1px 1px rgb(15, 12, 12);
    margin-left: 20px;
    position: relative;
    left: 100px;
    top: 0px;
    height: 30px;
    background-color: #e1e2e2;
}


textarea {
    box-shadow: 1px 1px 5px rgb(223, 15, 15), -1px -1px 1px rgb(15, 12, 12);;
    position: relative;
    left: 90px;
    width: 400px ;
    top: 1px;
    border-radius: 10px;
    background-color: #e1e2e2;
}


 input[type=submit] {
    background-color: #eb2608;
    border: none;
    color: #fcfcfc;
    padding: 8px 16px;
    text-decoration: none;
    margin: 4px 80px;
    cursor: pointer;
    position: relative;
    left: 150px;
    width: 120px;
    top: 0px;
    border-radius: 10px;
  }



 
/* footer section start */


  .footer-container {

      height: 100px;
      width: 100%;
      background-color: #202020;
      display: flex;
      justify-content: center;
      padding: 30px;
      font-size: 30px;
      overflow: hidden;


  }


  
  .social-links {
    display: flex;
    justify-content: center;
    padding: 30px;
    font-size: 30px;
    position: relative;
    bottom: 20px;
  }


.box1 {
    position: relative;
    left: 10px;
}


.box2 {
    position: relative;
    left: -70px;
    color: white;

}

.box1 i:hover {
    color: red;
}

.box2 i:hover {
    color: red;
}


